# Compiled Java class files
*.class

# Log files
*.log

# Build artifacts
/target/
!/target/classes/
!/target/test-classes/

# IDE files
.idea/
*.iml
.vscode/

# H2 Database File
/data/
*.mv.db
*.trace.db

# Other
.DS_Store